
@{ 
    ViewBag.Title = "Mindi Ford - Full Stack Web Developer";
}

<section id="about" class="light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>ABOUT</h2>
                    <p>I am a full stack web developer. <br />I am also energetic, optimistic, eager to learn (and teach) new things, and a mother of 3 hilarious little people. This site will allow you to get to know me a little better, showcase my portfolio projects, and introduce you to my class mates. Enjoy!</p>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->
</section>

<section id="resume" class="resume-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>RESUME</h2>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <h1>Mindi Ford</h1>
            <p>mindiford@live.com &bull; 816-935-5531 &bull; MindiFord.com</p>
        </div>
        <div class="row">
            <h2 class="h-resume text-center">FULL STACK DEVELOPER</h2>
            <br />
            <div class="col-md-3"></div>
            <ul class="col-md-4">
                <li>.NET Framework</li>
                <li>Full Stack Web Appication Design</li>
                <li>C# Fundamentals</li>
                <li>Database Management</li>
            </ul>
            <ul class="col-md-4">
                <li>Unit Testing</li>
                <li>Software Development Lifecycle</li>
                <li>Agile Scrum Methodology</li>
                <li>Continued Growth in IT Knowledge</li>
            </ul>
        </div>
        <br />
        <div class="row">

            <h2 class="h-resume text-center">TECHNICAL AND PROFESSTIONAL SKILLS</h2>
            <div class="col-md-2"></div>
            <ul class="col-md-8">
                <li>Front End: HTML5, JavaScript, jQuery, jQueryUI, CSS3, Responsive/Mobile Web Development, Bootstrap, ReactJS</li>
                <li>Middle Tier: C#.NET, ASP.NET, LINQ, MVC, EF, ASP.NET Web API</li>
                <li>Back End: ADO.NET, T-SQL, SQL, SQL Server</li>
                <li>Tools: Visual Studio, Visual Studio Code, SSMS</li>
                <li>Professional Skills: Troubleshooting, Critical Thinking, Communication, Project Management, Fundamentals, Teamwork, Pair Programming</li>
            </ul>
        </div>
        <br />
        <div class="row">
            <h2 class="h-resume text-center">INDEPENDENT DEVELOPMENT PROJECTS</h2>
            <div class="col-md-2"></div>
            <ul class="col-md-8">
                <li>Personal Site: Converted and customized template to create personal site with HTML/CSS, JavaScript, Bootstrap, and jQuery. This site contains resume in HTML &amp; PDF, portfolio, class links, and contact information.</li>
                <li>StoreFront: Created a secure application for managing product data. Application is built to simulate an online store front with a shopping cart. Administrators have the ability to manage product, category and vendor data.</li>
                <li>S.A.T. Scheduling Admiistration Tool: Created a secure application for managing product data. Applicaiton is build to simulate an online scheduling system. Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.</li>
            </ul>
        </div>
        <br />
        <div class="row">
            <h2 class="h-resume text-center">TECHNICAL TRAINING</h2>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">Full Stack Web Developer Program, Centriq Training<br />Kansas City, MO<br /></div>

                </div>

            </div>
        </div>
        <br />
        <div class="row">

            <div class="col-md-3"></div>
            <ul class="col-md-4">

                <li>MVC Framework</li>
                <li>Trouble Shooting &amp; Debugging</li>
                <li>Source Control</li>
                <li>Agile/Scrum (Created Team Project)</li>
            </ul>
            <ul class="col-md-4">
                <li>Website Deployment</li>
                <li>Pair Programming</li>
                <li>Code Review</li>
            </ul>
        </div>
        <br />
        <div class="row text-right">
            <!--<a href="~/Content/images/MindiFordResumeIT.pdf" >Full Resume PDF</a>-->
            <button type="button" class="btn btn-lg" data-toggle="modal" onclick="window.open('~/Content/images/MindiFordResumeIT.pdf')">
                Full Resume PDF
            </button>

        </div>
    </div>
    <!-- /.container -->
</section>


<section id="portfolio" class="light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Portfolio</h2>
                    <p>A portfolio is the best way to show my work. Here you can see some of the projects I have been working on.<br />Please, check them out!</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- start portfolio item -->
            <div class="col-md-4">
                <div class="ot-portfolio-item">
                    <figure class="effect-bubba">
                        <img src="~/Content/images/StudioProjectBooks.jpg" alt="Stack of books next to pen and paper." class="img-responsive" />
                        <figcaption>
                            <h2>Studio Project</h2>
                            <p>HTML / CSS & JavaScript</p>
                            <a href="#" data-toggle="modal" data-target="#Modal-1">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end portfolio item -->
            <!-- start portfolio item -->
            <div class="col-md-4">
                <div class="ot-portfolio-item">
                    <figure class="effect-bubba">
                        <img src="~/Content/images/FairyTaleForest.jpg" alt="Giant, twisting tree in the forest" class="img-responsive" />
                        <figcaption>
                            <h2>Dungeon Application</h2>
                            <p>100% C#</p>
                            <a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end portfolio item -->
            <!-- start portfolio item -->
            <div class="col-md-4">
                <div class="ot-portfolio-item">
                    <figure class="effect-bubba">
                        <img src="~/Content/images/StoreFront.jpg" alt="We're Open sign" class="img-responsive" />
                        <figcaption>
                            <h2>Store Front Application</h2>
                            <p>SQL</p>
                            <a href="#" data-toggle="modal" data-target="#Modal-3">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end portfolio item -->
        </div>
        <div class="row">
            <!-- start portfolio item -->
            <div class="col-md-4">
                <div class="ot-portfolio-item">
                    <figure class="effect-bubba">
                        <img src="~/Content/images/ClosedSign.jpg" alt="img02" class="img-responsive" />
                        <figcaption>
                            <h2>.NET Web API</h2>
                            <p>Branding, Design</p>
                            <a href="#" data-toggle="modal" data-target="#Modal-4">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end portfolio item -->
            <!-- start portfolio item -->
            <div class="col-md-4">
                <div class="ot-portfolio-item">
                    <figure class="effect-bubba">
                        <img src="~/Content/images/ClosedSign.jpg" alt="img02" class="img-responsive" />
                        <figcaption>
                            <h2>React To Do App</h2>
                            <p>Branding, Web Design</p>
                            <a href="#" data-toggle="modal" data-target="#Modal-5">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end portfolio item -->
            <!-- start portfolio item -->
            <div class="col-md-4">
                <div class="ot-portfolio-item">
                    <figure class="effect-bubba">
                        <img src="~/Content/images/ClosedSign.jpg" alt="img02" class="img-responsive" />
                        <figcaption>
                            <h2>Scheduling Admin Tool</h2>
                            <p>Branding, Web Design</p>
                            <a href="#" data-toggle="modal" data-target="#Modal-2">View more</a>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <!-- end portfolio item -->
        </div>
    </div><!-- end container -->
</section>

<section id="team" class="light-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-title">
                    <h2>Class Links</h2>
                    <p>There are links below to my classmates personal sites. (They're pretty cool too!)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- team member item -->
            <div class="col-md-2">
                <div class="team-item">
                    <div class="team-image">
                        <img src="~/Content/images/Silhouette.jpg" class="img-responsive" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>Jake Adamek</h3>
                        <div class="team-location">Squirrel Hill, Pennsylvania</div>
                        <!--<div class="team-position">– CEO & Web Design –</div>
                        <p>Mida sit una namet, cons uectetur adipiscing adon elit. Aliquam vitae barasa droma.</p>-->
                    </div>
                </div>
            </div>
            <!-- end team member item -->
            <!-- team member item -->
            <div class="col-md-2">
                <div class="team-item">
                    <div class="team-image">
                        <img src="~/Content/images/Silhouette.jpg" class="img-responsive" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>Benjamin Adler</h3>
                        <div class="team-location">Bugscuffle, TN</div>
                        <!--<div class="team-position">– Photography –</div>
                        <p>Worsa dona namet, cons uectetur dipiscing adon elit. Aliquam vitae fringilla unda mir.</p>-->
                    </div>
                </div>
            </div>
            <!-- end team member item -->
            <!-- team member item -->
            <div class="col-md-2">
                <div class="team-item">
                    <div class="team-image">
                        <img src="~/Content/images/Silhouette.jpg" class="img-responsive" alt="author">
                    </div>
                    <div class="team-text">
                        <h3>Robert Pickenpaugh</h3>
                        <div class="team-location">Chicken, Alaska</div>
                        <!--<div class="team-position">– Development –</div>
                        <p>Aradan bes namet, cons uectetur moiscing adon elit. Aliquam vitae fringilla unda augue.</p>-->
                    </div>
                </div>
            </div>
            <!-- end team member item -->
            <!-- #region New Class Link Content -->
            <!-- team member item -->
            <div class="col-md-2">
                <a href="http://gidonny.com" target="_blank">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="~/Content/images/Silhouette.jpg" class="img-responsive" alt="author">
                        </div>
                        <div class="team-text">
                            <h3>Gidonny Ramos</h3>
                            <!--  <div class="team-location">Gidonny.com</div>-->
                            <div class="team-position">– Gidonny.com –</div>
                            <!--<p>Mida sit una namet, cons uectetur adipiscing adon elit. Aliquam vitae barasa droma.</p>-->
                        </div>
                    </div>
                </a>
            </div>
            <!-- end team member item -->
            <!-- team member item -->
            <div class="col-md-2">
                <a href="http://miketullis.com" target="_blank">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="~/Content/images/Silhouette.jpg" class="img-responsive" alt="author">
                        </div>
                        <div class="team-text">
                            <h3>Michael Tullis</h3>
                            <!--<div class="team-location">MikeTullis.com</div>-->
                            <div class="team-position">– MikeTullis.com –</div>
                            <!--<p>Worsa dona namet, cons uectetur dipiscing adon elit. Aliquam vitae fringilla unda mir.</p>-->
                        </div>
                    </div>
                </a>
            </div>
            <!-- end team member item -->
            <!-- team member item -->
            <div class="col-md-2">
                <a href="http://vignonetech.com" target="_blank">
                    <div class="team-item">
                        <div class="team-image">
                            <img src="~/Content/images/Silhouette.jpg" class="img-responsive" alt="author">
                        </div>
                        <div class="team-text">
                            <h3>Justin Vignone</h3>
                            <!--<div class="team-location">VignoneTech.com</div>-->
                            <div class="team-position">– VignoneTech.com –</div>
                            <!--<p>Aradan bes namet, cons uectetur moiscing adon elit. Aliquam vitae fringilla unda augue.</p>-->
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
        <div class="col-lg-12 text-center">
            <div class="section-title">
                <h2>Contact Us</h2>
                <p>If you have some Questions or need Help! Please Contact Us!</p>
            </div>
        </div>
        </div>

    </div>
</section>


@* Modal Section for Portfolio Items *@

<!-- Modal for portfolio item 1 -->
<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Modal-label-1">Studio Project</h4>
            </div>
            <div class="modal-body">
                <img src="~/Content/images/StudioProjectBooks.jpg" alt="Stack of books next to pen and paper." class="img-responsive" />
                <div class="modal-works"><!--<span>Branding</span><span>Web Design</span>--></div>
                <p>I built this website from scratch using HTML5, CSS3, and JavaScript.</p>
                <p><a href="http://AFL.MindiFord.com">AFLMindiFord.com</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for portfolio item 2 -->
<div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Modal-label-2">Dungeon Application</h4>
            </div>
            <div class="modal-body">
                <img src="~/Content/images/FairyTaleForest.jpg" alt="Giant twisting tree in the forest." class="img-responsive" />
                <div class="modal-works"><!--<span>Branding</span><span>Web Design</span>--></div>
                <p>This project was built exclusively with C#. It is a dungeon application with a fairy tale theme.</p>
                <p><a href="https://github.com/MindiFord/DungeonAppFairyTale" target="_blank">GitHub Repository</a></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for portfolio item 3 -->
<div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Modal-label-3">E-Commerce Site</h4>
            </div>
            <div class="modal-body">
                <img src="~/Content/images/StoreFront.jpg" alt="We're Open sign" class="img-responsive" />
                <div class="modal-works"><!--<span>Branding</span><span>Web Design</span>--></div>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for portfolio item 4 -->
<div class="modal fade" id="Modal-4" tabindex="-1" role="dialog" aria-labelledby="Modal-label-4">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Modal-label-4">Smart Name</h4>
            </div>
            <div class="modal-body">
                <img src="~/Content/images/demo/portfolio-4.jpg" alt="img01" class="img-responsive" />
                <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for portfolio item 5 -->
<div class="modal fade" id="Modal-5" tabindex="-1" role="dialog" aria-labelledby="Modal-label-5">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Modal-label-5">Fast People</h4>
            </div>
            <div class="modal-body">
                <img src="~/Content/images/demo/portfolio-5.jpg" alt="img01" class="img-responsive" />
                <div class="modal-works"><span>Branding</span><span>Web Design</span></div>
                <p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>